@import "../common/variables";
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: $side-menu_width;
	li {
		display: inline-block;
		line-height: 20px;
		position: relative;
		width: 100%;

		a {
			color: #dddddd;
			display: block;
			padding: 10px 15px 10px 30px;
			text-decoration: none;
		}

		&:before {
			background-color: #1c1c1c;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			-webkit-transition: width 0.2s ease-in;
			transition: width 0.2s ease-in;
			width: 3px;
			z-index: -1;
		}
		&:hover:before {
			-webkit-transition: width 0.2s ease-in;
			transition: width 0.2s ease-in;
			width: 100%;
		}

		&.open:hover before {
			-webkit-transition: width 0.2s ease-in;
			transition: width 0.2s ease-in;
			width: 100%;
		}

		.dropdown-menu {
			background-color: #222222;
			border-radius: 0;
			border: none;
			box-shadow: none;
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
		}

		&:first-child a {
			background-color: #1a1a1a;
			color: #ffffff;
		}
		&:nth-child(2):before {
			background-color: #402d5c;
		}
		&:nth-child(3):before {
			background-color: #4c366d;
		}
		&:nth-child(4):before {
			background-color: #583e7e;
		}
		&:nth-child(5):before {
			background-color: #64468f;
		}
		&:nth-child(6):before {
			background-color: #704fa0;
		}
		&:nth-child(7):before {
			background-color: #7c5aae;
		}
		&:nth-child(8):before {
			background-color: #8a6cb6;
		}
		&:nth-child(9):before {
			background-color: #987dbf;
		}
	}
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	font-size: 20px;
	height: 65px;
	line-height: 44px;
}
