<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>

    <!--<link rel="icon" href="http://otaflb4oo.bkt.clouddn.com/CX-UI-Design/Logo/bigBear.ico" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="http://otaflb4oo.bkt.clouddn.com/CX-UI-Design/Logo/bigBear.ico" type="image/x-icon">-->
    <!--<link rel="icon" href="http://mc.mmmono.com/static/img/favicon.ico?v=167783947" type="image/x-icon">-->

</head>
<body>
<div class="home">
    {{{ sideMenu }}}
</div>
</div>
</body>
</html>
