<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">

    <!-- Disable tap highlight on IE -->

    <!-- page ico -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" href="http://otaflb4oo.bkt.clouddn.com/CX-UI-Design/Logo/bigBear.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://otaflb4oo.bkt.clouddn.com/CX-UI-Design/Logo/bigBear.ico" type="image/x-icon">
</head>

<body>
<div id="App">
    {{! from layout to entry }}
    {{> @partial-block }}
</div>

</body>
{{{_sections.js}}}
</html>
