{{! ============ page title ============ }}
<div class="page-header" id="page-header">
    <h3> {{ htmlWebpackPlugin.options.title }}
        <small>{{ htmlWebpackPlugin.options.description }} </small>
    </h3>
</div>


