/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
	position: relative;
	overflow-x: hidden;
}

body, html {
	height: 100%;
	background-color: $theme-back;
}

/* SOME DEMO STYLES - NOT REQUIRED */
body, html {
	background-color: #583e7e;
}

body h1,
body h2,
body h3,
body h4 {
	color: rgba(255, 255, 255, 0.9);
}

body p,
body blockquote {
	color: rgba(255, 255, 255, 0.7);
}

body a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: underline;
}

body a:hover {
	color: #ffffff;
}

.nav .open > a {
	background-color: transparent;
}

.nav .open > a:hover {
	background-color: transparent;
}

.nav .open > a:focus {
	background-color: transparent;
}

.home-tit {
	color: rgb(90, 255, 120);
}
